@inherits LayoutComponentBase

<header class="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="">House of Dumplings</a>
        @* <nav class="page-nav">
            <NavLink class="nav-links" href="/" Match="NavLinkMatch.All">Home</NavLink>
            <NavLink class="nav-links" href="menu">Menu</NavLink>
        </nav> *@
    </div>
</header>

<div class="content-wrapper">
    <!-- Main content (left side) -->

    <main class="content">
        @Body
    </main>

    <!-- Sidebar (right side) -->
    <aside class="sidebar">
        <div class="nav-images">
            <NavLink href="/" class="nav-image home">
                <h3>Hem</h3>
            </NavLink>
            <NavLink href="/menu" class="nav-image menu">
                <h3>Meny</h3>
            </NavLink>
            <NavLink href="/cart" class="nav-image about">
                <h3>Om Oss</h3>
            </NavLink>
            <NavLink href="/find" class="nav-image find-us">
                <h3>Hitta Hit</h3>
            </NavLink>
        </div>
    </aside>
</div>
