@inherits LayoutComponentBase

<header class="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="">House of Dumplings</a>
        <nav class="page-nav">
            <NavLink class="nav-links" href="/" Match="NavLinkMatch.All">Home</NavLink>
            <NavLink class="nav-links" href="menu">Menu</NavLink>
        </nav>
    </div>
</header>

<main class="content">
    @Body
</main>